/* feuille de style avec le reset */
@import url(reset.css);

/* lien vers goggle fotnts pour la typographie */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    font-size: 62.5%;
    /* les variables css utilisés dans mon site */
    --color_black: #191919;
    --color_white: #fff;
    --font_lora: "Lora", serif;
}
body {
    background-color: var(--color_black);
    color: var(--color_white);
    font-family: Arial, Helvetica, sans-serif;
}

a, h1 {
    font-family: var(--font_lora);
}
h2 {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

/**************** loader *****************/

#loader {
    height: 100vh;
    width: 100vw;
    background-color: #CBE6FF;
    position: fixed;
    z-index: 1;
}
.icon-loader {
    width: 100px;
    height: 100px;
    border: 10px solid #61b3ff;
    border-top: 10px solid #1E2337;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    animation-name: loader; /*Le nom de la keyframes*/
    animation-duration: 1s; /*l'animation dure 1 seconde*/
    animation-iteration-count: infinite; /*elle se répéte à l'infinie*/
    animation-timing-function: linear;/*La progression de l'animation pendant la durée de chaqe cycle */


}

.hideLoader {
    display: none !important;
}

@keyframes loader {
    
    /* Début de l'animation */
    /* 0% {
        transform: rotate(0deg);
    } */
    /* Fin de l'animation */
    /* 100% {
        transform: rotate(360deg);
    } */


    /* Début de l'animation */
    from{
        transform: rotate(0deg);
    }
    /* Fin de l'animation */
    to {
        transform: rotate(360deg);
    }



}

/************************************ HEADER ********************************* */
header {
    /* Dans le header j'applique le display avec la valeur flex afin de gérer l'emplacement de mes éléments sur l'axe principale (axe horizontale) et l'axe  secondaire (axe verticale)  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    border-bottom: .1rem solid rgba(255, 255, 255, .1);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .5);
    padding: 1rem 2rem;
}
header img {
    width: 60px;
}
header nav {
    display: flex;
}
header > a { /* j'applique le flex  afin de centrer l'image dans l'élément a*/
    display: flex;
    align-items: center;
}


header nav a {

    font-size: 1.6rem ;
    color: gray;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 4rem;
      /* 
    https://www.w3schools.com/css/css3_transitions.asp
    https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition_speed
    all : la transition s'applique sur toutes les propriétés qui ont les valeurs changées   
    linear : spécifie un effet de transition avec la même vitesse du début à la fin
    un délai : (en secondes) pour l'effet de transition. */
    scale: 1;
    transition: all linear 0.2s;
}

header nav a:hover {
    color: var(--color_white);
    transform: scale(1.2);
}


/************************************ FOOTER ************************************** */
footer {
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
    padding: 40px;
    background-color: #101010;
    border-top: .1rem solid rgba(255, 255, 255, .1);
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .5);
    
    
}
footer a {
    color: var(--color_white);
}
footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px ;
    width: 33.33%;
 
}

footer ul:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
}