*{
    box-sizing: border-box;
    text-decoration: none;
}

nav#exo1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #CBD285;
    padding: 10px;
}

nav a {
    color: black;
    font-weight: bold;
}

/* div{
    display: flex;
}

div:not(div.conteneurExo) {
    background-color: #CBD285;
    justify-content: space-evenly;
    padding: 3px;
} */

body {
    height: auto;
    margin: 100px;
}

hr {
    margin: 100px;
}

section {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
}

#headerZoning1 {

}
#headerZoning1 :first-child{
    background-color: #ffd6d6;
    font-weight: bold;
    /* flex-direction: row; */
    /* padding: 25px; */
    text-align: center;
    align-items: center;
}


#headerZoning1 :last-child {
    background-color: #f7f39a;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    padding: 15px;
    /* text-align: center; */
}

#navZoning1 {
    background-color: #10828c;
    /* flex-direction: row; */
    /* justify-content: space-between;        */
    /* padding: 400px 100px; */
    /* text-align: center; */
}

#navZoning1 :last-child {
    background-color: #a0b08b;
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    padding: 400px 700px; 
    
    }
   
